html {
    background: linear-gradient(135deg, #2ad68b 0%,#8de4ff 100%);
}
#runscript {
    background: linear-gradient(135deg, red 0%, orange 100%);
    border-color: transparent;
}
#frame {
    border-color: transparent;
    width: 1250px;
    height: 295px;
    align-content: center;
}
#navurl {
    width: 1000px;
}
#browserfullscreen {
    margin-right: 10px;
}