html {
    background: linear-gradient(135deg, #2ad68b 0%,#8de4ff 100%);
}
#runscript {
    background: linear-gradient(135deg, red 0%, orange 100%);
    border-color: transparent;
}
#frame {
    border-color: transparent;
    width: 1250px;
    height: 299px;
    align-content: center;
}
#navurl {
    width: 1000px;
}
#browserfullscreen {
    margin-right: 10px;
    background: linear-gradient(135deg, blue 0%, purple 100%);
    color: white;
    border-width: 0px;
}
#loading {
    width: 250px;
    height: 250px;
}
#script-language {
    width: 1225px;
    margin-bottom: 20px;
}
#script-code {
    width: 1225px;
    height: 700px;
}
#disclaimer {
    color: white;
    font-weight: bold;
}
#blur {
    margin-right: 5px;
}