@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html {
    font-family: "Open Sans", sans-serif;
    background: linear-gradient(135deg, rgb(255, 45, 85) 0%, rgb(88, 86, 214) 100%);
    color: white;
    font-size: 30px;
    min-height: 100%;
}
a {
    color: white;
}
h1 {
    font-size: 60px;
}
input[type = button] {
    border-radius: 0px;
}
.toolbutton {
    border-width: 0px;
    padding: 3px;
    font-size: 25px;
}
.miscellaneousbutton {
    border-width: 0px;
    padding: 3px;
    font-size: 25px;
}
#frame {
    width: 100%;
    height: 500px;
    border-width: 0px;
}
#navurl {
    width: 100%;
    border-width: 0px;
    margin-bottom: 5px;
    font-size: 25px;
}
#refresh {
    float: right;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    background: linear-gradient(135deg, rgb(76, 217, 100) 0%, rgb(0, 122, 255) 100%);
    padding: 3px;
    border-width: 0px;
}
#currentURL {
    float: left;
    margin-top: 0px;
}
#disclaimer {
    margin-bottom: 0px;
}
#experiencenote {
    margin-top: 5px;
}
#webappnote {
    margin-top: 5px;
}
